<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard - CryptoChicks</title>
        <link href="../public/css/output.css" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <body class="bg-gray-100 dark:bg-gray-900 flex">
        <!-- Navbar cargado dinámicamente -->
        <div id="navbar-placeholder"></div>
        <script>
            fetch('partials/navbar.html')
            .then(response => response.text())
            .then(data => {document.getElementById('navbar-placeholder').innerHTML = data;});
        </script>

    <!-- Content -->
        <!-- Main -->
        <main class="ml-0 transition-all duration-300 pt-20 pr-4 pb-4 pl-4" >
        <h1 class="text-3xl font-bold mb-6 text-gray-900 dark:text-white">Modulos</h1>
        
        <!-- Tabla desde archivo externo -->
        <div class="w-full min-w-[1000px] min-h-[500px] px-0 sm:px-0 overflow-auto" id="table-placeholder"></div>
        <script>
            fetch('partials/tablecomponent.html')
            .then(res => res.text())
            .then(html => {document.getElementById('table-placeholder').innerHTML = html;});
        </script>
        <script src="../node_modules/flowbite/dist/flowbite.js"></script>
    </body>
</html>